
/*  REGOLE GENERALI */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato'
}


/* HEADER */
header{
width: 100%;
font-size: 14px;
}
#superiore{
  background-color: #ffab0b;
  height: 50px;
}
#inferiore{
  height: 100px;
}

.topheader{
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.bottomheader{
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.topheader a, i{
  padding: 5px;
  text-decoration: none;
  color: white;
}
.bottomheader a{
  padding: 12px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
#link_inferiori > a:first-child{
  color:#ffab0b
}
#link_inferiori span{
  background-color: #0ebcf2;
  color: white;
  font-size: 8px;
  padding: 3px;
  border-radius: 2px;
  margin-left: -8px;
}


/*   MAIN   */
main{
  background-image: url("../img/home_main_slider_bg.jpg");
  height: 700px;
  width: 100%;
  position: absolute;
}
 main #button_find{
  background-color: #ffab0b;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
}
main #button_apply{
  background-color: #0ebcf2;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
}
.jumbo{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-top:20%;
  margin-bottom: 50px;
  color: white;
}
.jumbo h1{
  font-size: 55px;
  padding-bottom: 10px;
}
.jumbo h2{
  font-size: 20px;
}
.jumbo_button{
  display: flex;
  justify-content: center;
}
.jumbo_button button{
  margin-right: 20px;
  color: white;
  border: 0;
}


/*   SECTION 1   */
section{
  width: 100%;
}
.logo{
  display: flex;
  margin-top: 800px;
  justify-content: center;
  margin-bottom: 20px;
}

.intestazione{
  text-align: center;
}
.intestazione h3{
  margin-top: 20px;
  color: grey;
}

/*  SECTION 1   */
.sec_one{
  display: flex;
  width: 80%;
  margin-left: 10%;
  height: 400px;
  margin-top: 100px;
  padding: 10px;
}
.text{
  width: 50%;
}
.text h1{
margin-bottom: 30px;
}
.text p{
  color: grey;
}
.video{
  width: 50%;
  margin-left: 50px;
}
.video img{
  width: 520px;
  height: 300px;
}

#title{
  margin-bottom: 30px;

}
.text span{
  display: flex;
  margin-bottom: 15px;
}
.text i{
  color: #ffab0b;
  margin-right: 10px;
}

.container{
  width: 100%;
  height: 600px;
  background-color: #F8F8FF;
  padding: 50px;
}
.text h3{
  font-size: 16px;
}
.video span {
  display: inline-block;
  background-color: white;
  height: 50px;
  width: 450px;
  color: #ffab0b;
  font-weight: bold;
  margin-bottom: 8px;
}
#title_video{
  line-height: 40px;
  margin-bottom: 20px;
}
.video i{
 color:#ffab0b;
 padding-right: 20px;
 line-height: 40px;
}


/* SECTION 2 */
#sec-two{
  height: 600px;
  width: 100%;
  display: flex;
}
#sec-two a{
  text-decoration: none;
  color: white;
}
#sec-two img{
  width: 100%;
}
#sec-two span{
width: 100%;
height: 100%;
left: 0;
bottom: 0;
padding-top: 250px;
position: absolute;
text-align: center;
color: white;
}
.courses {
   position: relative;
}

.events{
  position: relative;
}

.news{
  position: relative;
}



/*  SECTION 3 */

.logo_sez{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 20px;
}

.sec{
  text-align: center;
}
.sec h3{
  margin-top: 20px;
  color: grey;
}


/*   SECTION BLOG   */
.blog{
  display: flex;
  width: 70%;
  margin-left: 15%;
  justify-content: center;
  margin-top: 50px;
}
.blog img{
  width: 270px;
  height: 150px;
}
.first {
  margin-right: 20px;
}
.second {
  margin-right: 20px;

}
.third{
  margin-right: 20px;

}
.blog h2{
  color: #ffab0b;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 270px;

}
.blog a{
  text-decoration: none;
  color:  #ffab0b;
}


/*   SECTION FORM   */
#form{
  width: 100%;
  height: 300px;
  background-color: #272a39;
  margin-top: 100px;
}
.container_form{
  width: 70%;
  margin-left: 15%;
}
.titolo_form{
  text-align: center;
  padding-top: 50px;
}
.titolo_form h1{
  color: white;
}
.titolo_form span{
  color:#ffab0b;
}
.titolo_form h4{
  color: grey;
}
.form_action{
  text-align: center;
  padding-top: 50px;
}
.action{
  display: flex;
}
.form_action input{
  height: 35px;
  width: 250px;
  padding: 10px;
  background-color: #667287;
  border: 0;
  color: white;
  margin-right: 5px;
  font-size: 12px;
}
.form_action button{
  height: 35px;
  width: 180px;
  background-color: #ffab0b;
  border: 0;
  color: white;
  font-size: 12px;
}



/*  FOOTER */
footer{
  margin-top: 100px;
  height: 400px;
  width: 100%;
  display: flex;
  background-image: url("..img/university_ft_bg.png");
}

/*   FOOTER SUPERIORE   */
.footer_sup{
  display: flex;
  margin-left: 5%;
}
.col{
  width: 250px;
  padding: 10px;
  margin-bottom: 20px;
}
.col h3{
  font-size: 15px;
  padding-bottom: 15px;
}
.col p{
  font-size: 13px;
  color: grey;
  padding-top: 8px;
}
.col i{
  font-size: 13px;
  color: grey;
  padding-top: 8px;
}
.col h5{
  font-weight: 400;
  font-size: 13px;
  padding-top: 10px;
}
.col h4{
  font-weight: 400;
  font-size: 15px;
}


.col span{
  font-weight: 400;
  font-size: 13px;
  margin-top: 30px;
  position: absolute;
}

.home_info, .phone_info, .mail_info, .orari_info{
  display: flex;
}

.first_ask, .second_ask, .third_ask{
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}
.first_ask, .second_ask, .third_ask p{
  padding-bottom: 10px;
}



/* FOOTER INFERIORE */
.footer_inf{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  border-top: 1px solid lightgrey;
  height: 100px;
}
.footer_inf a{
  text-decoration: none;
  color: grey;
  font-size: 12px;
  padding-right: 5px;
}
.footer_inf i{
  color: grey;
}
.footer_inf span{
  color: grey;
}
