*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato'
}
header{
width: 100%;
font-size: 14px;
}
#superiore{
  background-color: #ffab0b;
  height: 50px;
}
#inferiore{
  height: 100px;
}

.topheader{
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.bottomheader{
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.topheader a, i{
  padding: 5px;
  text-decoration: none;
  color: white;
}
.bottomheader a{
  padding: 12px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
#link_inferiori > a:first-child{
  color:#ffab0b
}
#link_inferiori span{
  background-color: #0ebcf2;
  color: white;
  font-size: 8px;
  padding: 3px;
  border-radius: 2px;
  margin-left: -8px;
}

/*   MAIN   */

main{
  background-image: url("../img/home_main_slider_bg.jpg");
  height: 700px;
  width: 100%;
  position: absolute;
}
 main #button_find{
  background-color: #ffab0b;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
}
main #button_apply{
  background-color: #0ebcf2;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
}
.jumbo{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-top:20%;
  margin-bottom: 50px;
  color: white;
}
.jumbo h1{
  font-size: 55px;
  padding-bottom: 10px;
}
.jumbo h2{
  font-size: 20px;
}
.jumbo_button{
  display: flex;
  justify-content: center;
}
.jumbo_button button{
  margin-right: 20px;
  color: white;
}

/*   SECTION 1   */
section{
  width: 100%;
}
.logo{
  display: flex;
  margin-top: 800px;
  justify-content: center;
  margin-bottom: 20px;
}

.intestazione{
  text-align: center;
}
.intestazione h3{
  margin-top: 20px;
  color: grey;
}














/*  FOOTER */

footer{
  margin-top: 1000px;
  height: 500px;
  width: 100%;
  display: flex;
}
.footer_sup{
  display: flex;
}
.colonna{
  width: 275px;
  height: 200px;
}
