<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" -->
          <!-- integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
          crossorigin="anonymous"></script> -->
  <title>University</title>
</head>

<body>
  <div id="app">

    <header>
      <!-- NAVBAR SUPERIORE -->
      <div id="superiore" v-for="item in superiore">
        <div class="topheader">
          <nav>
            <i :class="item.telefono.icona"></i>
          <a href="#">{{item.telefono.numero}}</a>
          <i :class="item.contatti.icona"></i>
          <a href="#">{{item.contatti.testo}}</a>
          <i :class="item.alunni.icona"></i>
          <a href="#">{{item.alunni.testo}}</a>
          <i :class="item.campus.icona"></i>
          <a href="#">{{item.campus.testo}}</a>
          </nav>
          <nav>
          <i :class="item.facebook"></i>
          <i :class="item.twitter"></i>
          <i :class="item.youtube"></i>
          <i :class="item.instagram"></i>
          </nav>
        </div>
      </div>

      <!-- NAVBAR INFERIORE -->
      <div id="inferiore" v-for="item in inferiore">
        <div class="bottomheader">
          <nav>
            <img :src="item.logo" alt="logo univerisy">
          </nav>
          <nav id="link_inferiori">
          <a href="#">{{item.home}}</a>
          <a href="#">{{item.about}}</a>
          <a href="#">{{item.corsi}}</a> <span>{{item.new}}</span>
          <a href="#">{{item.corsi}}</a>
          <a href="#">{{item.strutture}}</a>
          <a href="#">{{item.novita}}</a>
          <a href="#">{{item.ammissione}}</a> <span>{{item.apply}}</span>
          </nav>
        </div>
      </div>
    </header>

    <!-- JUMBOTRON -->
    <main>
      <img src="img/home_main_slider_bg.jpg" alt="">
      <div class="jumbo">
        <h1>Inspiring Tomorrow Leaders</h1>
        <h2>The Future Belongs To Those Who See Possibilities Today</h2>
      </div>
      <div class="jumbo_button">
        <button type="button" name="button">FIND A COURSE</button>
        <button type="button" name="button">APPLY NOW</button>
      </div>
    </main>







    <footer >
      <!-- DIVIDO IL FOOTER IN 5 BLOCCHI -->
      <div class="footer_sup" >
        <div class="colonna" v-for="(item, i) in colonne">
        <h2>{{item.testo[0]}}</h2>
        <i :class="item.icona"></i>
        <p>{{item.testo[1]}}</p>
        <p>{{item.testo[2]}}</p>
        <p>{{item.testo[3]}}</p>
        <p>{{item.testo[4]}}</p>
        <p>{{item.testo[5]}}</p>
        <p>{{item.testo[6]}}</p>
        </div>
        </div>
      </div>


      <!-- FOOTER INFERIORE -->
      <div class="">

      </div>

    </footer>


  </div>
<script src="js/script.js"></script>
</body>

</html>
