<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" -->
          <!-- integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
          crossorigin="anonymous"></script> -->
  <title>University</title>
</head>

<body>
  <div id="app">

    <header>
      <!-- NAVBAR SUPERIORE -->
      <div id="superiore" v-for="item in superiore">
        <div class="topheader">
          <nav>
            <i :class="item.telefono.icona"></i>
          <a href="#">{{item.telefono.numero}}</a>
          <i :class="item.contatti.icona"></i>
          <a href="#">{{item.contatti.testo}}</a>
          <i :class="item.alunni.icona"></i>
          <a href="#">{{item.alunni.testo}}</a>
          <i :class="item.campus.icona"></i>
          <a href="#">{{item.campus.testo}}</a>
          </nav>
          <nav>
          <i :class="item.facebook"></i>
          <i :class="item.twitter"></i>
          <i :class="item.youtube"></i>
          <i :class="item.instagram"></i>
          </nav>
        </div>
      </div>

      <!-- NAVBAR INFERIORE -->
      <div id="inferiore" v-for="item in inferiore">
        <div class="bottomheader">
          <nav>
            <img :src="item.logo" alt="logo univerisy">
          </nav>
          <nav id="link_inferiori">
          <a href="#">{{item.home}}</a>
          <a href="#">{{item.about}}</a>
          <a href="#">{{item.corsi}}</a> <span>{{item.new}}</span>
          <a href="#">{{item.corsi}}</a>
          <a href="#">{{item.strutture}}</a>
          <a href="#">{{item.novita}}</a>
          <a href="#">{{item.ammissione}}</a> <span>{{item.apply}}</span>
          </nav>
        </div>
      </div>
    </header>

    <!-- JUMBOTRON -->
    <main>
      <div class="jumbo">
        <h1>Inspiring Tomorrow Leaders</h1>
        <h2>The Future Belongs To Those Who See Possibilities Today</h2>
      </div>
      <div class="jumbo_button">
        <button type="button" name="button" id="button_find">FIND A COURSE</button>
        <button type="button" name="button" id="button_apply">APPLY NOW</button>
      </div>
    </main>

    <!--   SECTION 1   -->
    <section>
      <div class="intestazione">
        <div class="logo">
          <img src="img/page-logo-1.png" alt="">
        </div>
        <h1>Inspired By Excellenge & Innovation</h1>
        <h3>We offer a wide range of high quality of teaching and extra-curricular activies</h3>
      </div>

      <!-- CORPO CENTRALE SECTION -->
      <div class="sec_one">
        <div class="text">
          <h1>WHY CHOOSE AVADA UNIVERSITY?</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="video">
          <img src="img/business_seminar_event_feat-400x268.jpg" alt="">
        </div>
      </div>

      <!--   SECONDA PARTE SECTION -->
      <div class="container">
        <div class="sec_one">
          <div class="text">
            <h1 id="title">WORLD CLASS FACILITIES</h1>
            <p id="title">Avada university is devoted to excellenge in teaching, learning, and research, and developing leaders in many dispiplines who make a difference globally.</p>
            <span><i class="fas fa-globe"></i> <h3>International Focus</h3> <p>- our student come from across the globe</p> </span>
            <span><i class="fas fa-graduation-cap"></i> <h3>Residential Courses</h3><p>- we encourage learning and growth</p></span>
            <span> <i class="fas fa-address-book"></i> <h3>People Not Frofit</h3> <p>- education is a right not a privilege</p></span>
            <p>If you prefer to study in your our time and at your own speed then one of our e-learning packages may be right up your street</p>
          </div>
          <div class="video">
            <h1 id="title_video">OUR VALUES</h1>
            <span> <i class="fas fa-plus"></i>OUR MISSION</span>
            <span><i class="fas fa-plus"></i>OUR FILOSOPHY</span>
            <span><i class="fas fa-plus"></i>OUR COMMITMENT</span>
            <span><i class="fas fa-plus"></i>OUR PROMISE</span>
            <span><i class="fas fa-plus"></i>OUR VALUES</span>
          </div>
        </div>
      </div>
    </section>


    <!--   SECTION 2  -->
    <section id="sec-three">
      <div class="courses">

      </div>
      <div class="events">

      </div>
      <div class="news">

      </div>
    </section>

    <!--  SECTION 3  -->






    <footer >
      <!-- DIVIDO IL FOOTER IN 5 BLOCCHI -->
      <div class="footer_sup" >
        <div class="colonna" v-for="(item, i) in colonne">
        <h2>{{item.testo[0]}}</h2>
        <i :class="item.icona"></i>
        <p>{{item.testo[1]}}</p>
        <p>{{item.testo[2]}}</p>
        <p>{{item.testo[3]}}</p>
        <p>{{item.testo[4]}}</p>
        <p>{{item.testo[5]}}</p>
        <p>{{item.testo[6]}}</p>
        </div>
        </div>
      </div>


      <!-- FOOTER INFERIORE -->
      <div class="">

      </div>

    </footer>


  </div>
<script src="js/script.js"></script>
</body>

</html>
